body {
    background-color: rgb(186, 0, 0)     ; 
}
.Mustafa{
    font-size: 300px
}
.Mustafa{
    font-style: italic;
      
        color: rgb(0, 0, 0);
}
iframe{
    width: 6050px;
    height: 2000px;
    border-radius: 30px;
}
.ekinshibet{
   font-size: 190px;
}

h1{
    font-weight:bold;
}
a{
    font-size: 70px;
}
